.App {
  /* will want to set background color etc*/
  background-color: #fafafa;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.search-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 30%;
  margin: auto;
}

h1 {
  padding-top: 50px;
  color:  #333333;
}
